.videos-summary
{
	position: relative;
}

.category-title
{
	border-bottom: 1px solid rgb(108,162,222);
	/*border-bottom: 1px solid rgb(171,209,255);*/
}

.video-icon
{
	position: relative;
	display: block;
	float: left;
	width: 146px;
	height: 170px;
	margin-right: 8px;
}

.video-icon .video-thumb
{
	position: relative;
	width: 132px;
	height: 99px;
	background: url('/devel/img/thumb_container.png') no-repeat left top;
}
.video-icon .video-thumb img
{
	position: absolute;
	margin: auto;
	left: 6px;
	top: 4px;
}
.video-icon .video-thumb .video-duration
{
	position: absolute;
	right: 6px;
	bottom: 5px;
	font-size: 0.77em;
	font-weight: bold;
	color: white;
	background: black;
}
.video-icon .video-thumb a
{
	border-style: none;
	text-decoration: none;
}

.video-icon .video-title
{
	margin-top: 2px;
	font-size: 1em;
	line-height: 100%;
}
.video-icon .video-views
{
	font-size: 1em;
}
.video-icon .video-username
{
	font-size: 1em;
}