.video-list
{
	position: relative;
}

.video-icon
{
	position: relative;
	display: block;
	float: left;
	width: 146px;
	height: 190px;
	margin-right: 8px;
}

.video-icon .video-thumb
{
	position: relative;
	width: 132px;
	height: 99px;
	background: url('/devel/img/thumb_container.png') no-repeat left top;
}
.video-icon .video-thumb img
{
	position: absolute;
	margin: auto;
	left: 6px;
	top: 4px;
}
.video-icon .video-thumb .video-duration
{
	position: absolute;
	right: 6px;
	bottom: 5px;
	font-size: 10px;
	font-weight: bold;
	color: white;
	background: black;
}
.video-icon .video-thumb a
{
	border-style: none;
	text-decoration: none;
}

.video-icon .video-title
{
	font-size: 12px;
}
.video-icon .video-views
{
	font-size: 12px;
}