*.pyc
*.swp
tags
TAGS
build/
compiler/bin
compiler/linux
compiler/ukernel
l4kernel
skyeye/skyeye
build_*
image.bin*
docs/tests_doc.pdf
*.bin
patches/*
debug/*
docs/tmp/*
config.mk
*~
*.exe
*.dmg
*.zip
*.gz
*.bz2
*.tgz
*.tbz2
*.Z
.512b
.directory
*.patch
application/logs/*.php
data/thumbs/*
data/torrents/*
data/user_pictures/*
