<Files data>
	Order allow,deny
	Deny from all
</Files>
<Files docs>
	Order allow,deny
	Deny from all
</Files>
<Files .gitignore>
	Order allow,deny
	Deny from all
</Files>
<Files .git>
	Order allow,deny
	Deny from all
</Files>
<Files no-web>
	Order allow,deny
	Deny from all
</Files>

RewriteEngine on
RewriteCond $1 !^(index\.php|images|stylesheets|javascript|data|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
